# Servicio que se encargará de reaccionar a las señales Bluetooth y emitir credenciales
[Unit]
Description=Credential Creation Monitor
# Nos aseguramos de lanzar bluetooth-connection.service
After=network.target bluetooth-connection.service

[Service]
# Parámetro 1 es la duración de concesión
# ToDo: rehacer
ExecStart=$BASE_DIR/freeradius/newcred.sh 1
WorkingDirectory=$SCRIPT_DIR
User=$(whoami)
Group=$(id -gn)
Restart=always

[Install]
WantedBy=default.target