[Unit]
Description=Credential Creation Monitor
After=network.target

[Service]
ExecStart=$BASE_DIR/freeradius/newcred.sh 1
WorkingDirectory=$SCRIPT_DIR
User=$(whoami)
Group=$(id -gn)
Restart=always

[Install]
WantedBy=default.target