__pycache__/*
ignores/*
images/*
config/authconfig.txt
config/netconfig.txt
dnsmasq/dnsmasq.conf
freeradius/freeradius.db
freeradius/clients.conf
freeradius/default
freeradius/sql
hostapd/hostapd.conf
nodogsplash/auth.sh
nodogsplash/nodogsplash.conf
nodogsplash/*.htm*