__pycache__/*
ignores/*

config/authconfig.txt
config/netconfig.txt

dnsmasq/dnsmasq.conf
freeradius/freeradius.db
freeradius/clients.conf
freeradius/default
freeradius/sql
hostapd/hostapd.conf
nodogsplash/nodogsplash.conf